{% extends "layout.html" %}
{% block content %}

<div class="row mx-auto" >
    <div class="col-md-8 mx-auto">
        <!--<div class="card">-->
          <!--<div class="card-body">-->
	<br>
              <h3 class="card-title text-centered">The StockFries Blog</h3>
          <!--</div>-->
        <!--</div>-->
    </div>
</div>

<br>

{% for page in pages %}

<br>
<div class="row mx-auto">
    <div class="col-md-8 mx-auto">
        <div class="card">
          <div class="card-body">
              <h5 class="card-subtittle text-muted">--{{ page.date.strftime('%A, %d %B, %Y') }}--</h5><h4 class="card-title "><a href="{{ page.path }}">{{ page.title }}</a></h4>
            </div>
        </div>
    </div>
</div>

<br>

{% endfor %}

{% endblock %}
