<!doctype html>{% extends "layout.html" %}
{% block content %}


<div class="row">
    <div class="col-md-8 mx-auto">
        <div class="card">
          <div class="card-body">
          	
              <h5 class="card-subtittle text-muted">--2020-09-02--</h5><h4 class="card-title ">Picking stocks is gambling</h4> 

              <h5 class="card-subtitle mb-2 ">Who Are you Betting Against?</h5>
                <p class="card-text">The amateur investor (i.e. anyone who's not paid to do it) develops their portfolio of stocks in the same manner that they would bet at the poker table. In tournament poker you have metics like ICM and EV to guide you; however, you are in the end making a bet with imperfect information. In the investing world, however, the important thing to remeber is that on the other end of your limit  order on Robinhood or Schwab is someone else making the opposite bet as you; and it could be someone who is paid to do it who has a lot more tools than you do. </p>
              <br>
              <h5 class="card-subtitle mb-2 ">Are You a Weak Thinker?</h5>
                <p class="card-text">And then there is the matter of the Efficient Market Hypthosis (EMT) which states that "It's All In The Price!" That is to say, that there are three ways to interpret the price of an asset or secturtiy:
				<ol>
				<li class="card-text">The  <a href="https://www.investopedia.com/terms/s/strongform.asp">strong form</a> of the EMH: You can't beat the market because the price of an asset is the exact value of what it is worth. All information—both the information available to the public and any information not publicly known—is completely accounted for. "It's all in the price!"</li>
				<li class="card-text">The <a href="https://www.investopedia.com/terms/s/semistrongform.asp">semi-strong form</a> of the EMH: You can beat the market, but only by using exogenous information unkown to the traders beyond fundamental analyses (e.g. not PE ratios or moving averages). </li>
				<li class="card-text">The <a href="https://www.investopedia.com/terms/w/weakform.asp">weak form</a> of the EMH: The market is <a href="https://www.google.com/books/edition/A_Random_Walk_Down_Wall_Street/Avu090CNzb8C?hl=en&gbpv=1&printsec=frontcover">a random walk</a> and the price of an asset doesn't reflect its worth. Thus, you can beat the market by using <a href="https://www.investopedia.com/terms/f/fundamentalanalysis.asp">standard fundmanetal evaluation</a> metrics</li>
				</ol></p>

				<p class="card-text">If you're here and/or picking individual stocks you're a Semi-Strong or Weak form of the EMH.</p>
			  <br>
			  <h5 class="card-subtitle mb-2 ">What's the Point of this Site?</h5>
                <p class="card-text">This website is designed to provide   information. We're just scraping 50 publically available 13-HR quarterly filings from the SEC and then aggregating them together. We don't want to recommend securities or get you behind a paywall like Motley Fool or Whale Wisdom. We just want to provied a quick data point for all those gamblers out there.

                After all, picking stocks, like french fries or gambling, is awfully addicting.</p>

            </div>
        </div>
    </div>
</div>
<br>

<br>
{% endblock %}
