<!doctype html>{% extends "layout.html" %}
{% block content %}
<div class="row">
    <div class="col-md-8 mx-auto">
        <div class="card">
          <div class="card-body">
            
              <h5 class="card-subtittle text-muted">--2020-10-05--</h5><h4 class="card-title ">Basic Investing Concepts</h4> 

              <h5 class="card-subtitle mb-2 ">Metrics</h5>
                <p class="card-text"><strong>Returns = </strong>(cash_flow) + (capitatl_gains)<br>
                If you buy some Tesla stock--like most Hedge Funds are doing--you make money when (1) they pay you Dividens or (2) you sell that stock at higer price
                <strong>Risk = </strong>(violitility / varitaion_of_returns)<br>
                <strong>Violitility </strong>depends on (1) Credit Default Risk and (2) Liquiditty of Investments<br>
                That is, a Bond issued by the government of Argentina is exremely liquid or tradeable <a href="http://www.worldgovernmentbonds.com/country/argentina/">but might default</a>
                </p>
              <br>
              <h5 class="card-subtitle mb-2 ">Types of Investments (Asset Classes)</h5>
                <p> <span>&#8593;</span><span>&#8593;</span><span>&#8593;</span> HIGHEST RISK <span>&#8593;</span><span>&#8593;</span><span>&#8593;</span>
        <li class="card-text">Derrivatives: Mortgage Back Securities, Credit Defaultt Swaps, Speculations, Hedging</li>
        <li class="card-text">Equities / Stocks ($100T WW): These are risky investments</li>
        <li class="card-text"><a href="https://www.calpers.ca.gov/page/investments/asset-classes">Alternative Investments</a>: Forestry, Art, Gems</li>
        <li class="card-text">Bonds ($200T WW): Fixed Income, Credit Markets, Debt Markets, Instrumenst</li>
        <li class="card-text">Cash: Bank Depositst or Certificates of Deposit (CODs)</li><br>
        <span>&#8595;</span><span>&#8595;</span><span>&#8595;</span>  Lowest Risk <span>&#8595;</span><span>&#8595;</span><span>&#8595;</span> 
        </p>
        <br>
        <h5 class="card-subtitle mb-2 ">Modern Portfolio Theory</h5>
                <p class="card-text">A Two Step Process:
                
                  1. <strong>Asset Allocation</strong>: Select Class Breakdown<br>
                  2.A <strong>Security Selection</strong>: Active Porttfolio Strategy i.e. Picking Stocks
                  2.B <strong>No Security Selection</strong>: Passive
                 </p>
                 <p class="card-text">If you're here and/or picking individual stocks you're Probably a 2.A kind of person. The 2.B kind of people are <a href="http://www.stockfries.com/blog/1_gambling">Strong EMT thinkers </a> and will say "just invest in mutual funds, no one can beat the market." However, there are some people <a href="https://www.ted.com/talks/jim_simons_the_mathematician_who_cracked_wall_street?language=en">who do beat the market</a></p>

            </div>
        </div>
        <a href="{{url_for('static',filname='blog2.1.0.png'}}" download>
          <button class="btn"><i class="fa fa-download"></i>Notes P1</button>
        </a>
    </div>
</div>

<br>
{% endblock %}